<!DOCTYPE html>

<head>
	<title>GPIO Emulator Controller</title>
	<link rel="stylesheet" href='../static/style.css' />
</head>

<body style="text-align: center;">

		<h2>Controls</h2>
		<h3>
			GPIO 2
			<a href="/2/on">ON</a>
			<a href="/2/off">OFF</a>
		</h3>
		<h3>
			GPIO 3
			<a href="/3/on">ON</a>
			<a href="/3/off">OFF</a>
		</h3>
		<h3>
			GPIO 4
			<a href="/4/on">ON</a>
			<a href="/4/off">OFF</a>
		</h3>
		<h3>
			GPIO 5
			<a href="/5/on">ON</a>
			<a href="/5/off">OFF</a>
		</h3>
		<h3>
			GPIO 6
			<a href="/6/on">ON</a>
			<a href="/6/off">OFF</a>
		</h3>
		<h3>
			GPIO 7
			<a href="/7/on">ON</a>
			<a href="/7/off">OFF</a>
		</h3>
		<h3>
			GPIO 8
			<a href="/8/on">ON</a>
			<a href="/8/off">OFF</a>
		</h3>
		<h3>
			GPIO 9
			<a href="/9/on">ON</a>
			<a href="/9/off">OFF</a>
		</h3>
		<h3>
			GPIO 10
			<a href="/10/on">ON</a>
			<a href="/10/off">OFF</a>
		</h3>
		<h3>
			GPIO 11
			<a href="/11/on">ON</a>
			<a href="/11/off">OFF</a>
		</h3>
		<h3>
			GPIO 12
			<a href="/12/on">ON</a>
			<a href="/12/off">OFF</a>
		</h3>
		<h3>
			GPIO 13
			<a href="/13/on">ON</a>
			<a href="/13/off">OFF</a>
		</h3>
		<h3>
			GPIO 14
			<a href="/14/on">ON</a>
			<a href="/14/off">OFF</a>
		</h3>
		<h3>
			GPIO 15
			<a href="/15/on">ON</a>
			<a href="/15/off">OFF</a>
		</h3>
		<h3>
			GPIO 16
			<a href="/16/on">ON</a>
			<a href="/16/off">OFF</a>
		</h3>
		<h3>
			GPIO 17
			<a href="/17/on">ON</a>
			<a href="/17/off">OFF</a>
		</h3>
		<h3>
			GPIO 18
			<a href="/18/on">ON</a>
			<a href="/18/off">OFF</a>
		</h3>
		<h3>
			GPIO 19
			<a href="/19/on">ON</a>
			<a href="/19/off">OFF</a>
		</h3>
		<h3>
			GPIO 20
			<a href="/20/on">ON</a>
			<a href="/20/off">OFF</a>
		</h3>
		<h3>
			GPIO 21
			<a href="/21/on">ON</a>
			<a href="/21/off">OFF</a>
		</h3>
		<h3>
			GPIO 22
			<a href="/22/on">ON</a>
			<a href="/22/off">OFF</a>
		</h3>
		<h3>
			GPIO 23
			<a href="/23/on">ON</a>
			<a href="/23/off">OFF</a>
		</h3>
		<h3>
			GPIO 24
			<a href="/24/on">ON</a>
			<a href="/24/off">OFF</a>
		</h3>
		<h3>
			GPIO 25
			<a href="/25/on">ON</a>
			<a href="/25/off">OFF</a>
		</h3>
		<h3>
			GPIO 26
			<a href="/26/on">ON</a>
			<a href="/26/off">OFF</a>
		</h3>
		<h3>
			GPIO 27
			<a href="/27/on">ON</a>
			<a href="/27/off">OFF</a>
		</h3>		
</body>

</html>